<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Aastha</title>
</head>
<style>
    .center {
       display: flex;
       justify-content: center;
       align-items: center;
    }
   </style>
<body>
    <br><br><br><br><br>
    <div class="center">
        <a class="btn btn-primary" href="/aastha/discord/dm">DM</a>
    </div>
    <br>
    <div class="center">
        <a class="btn btn-primary" href="/aastha/discord/server">Server</a>
    </div>
    <br>
    <div class="center">
        <a class="btn btn-primary" href="/aastha/happy-birthday">Happy Birthday</a>
    </div>
</body>
</html>